<%- include('partials/header') %>   
    <div class="cont">
        <div class="box-header">
            <div class="box-title">
                <span class="box-title-span">Top Rated</span>
            </div>
            <div class="rectangle1">
                <span class="box-month"><%= month %></span>
            </div>
        </div>
        <div class="box-content">
            <div class="gallery">
                <% for (let i = 0; i < foods.length; i++){ %>
                    <div class="gallery-item">
                        <img src="/asset/<%= foods[i].name %>.jpg" alt="">
                        <div class="rating">
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="50" viewBox="0 0 47 50" fill="none">
                                <path d="M23.0324 18.1683L24.8366 24.5241H30.2492L25.8923 27.8349L27.6773 33.9864L23.0324 30.226L18.3876 33.9864L20.1726 27.8349L15.8156 24.5241H21.2282L23.0324 18.1683ZM23.0324 4.0874L18.3876 20.4368H3.83887L15.6813 29.4494L11.19 44.9609L23.0324 35.3761L34.894 44.9609L30.3836 29.4494L42.226 20.4368H27.6773L23.0324 4.0874Z" fill="#FFD74B"/>
                            </svg>
                            <span class="rating-number"><%= foods[i].currentRating %></span>
                        </div>
                        <div class="textandprice">
                            <h4 class="foodname">
                                <%= foods[i].name %>
                            </h4>
                            <h3 class="pricenumber">
                                <span class="pricecurr">Rp</span> <%= foods[i].price + ".000" %>
                            </h3>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>